{% extends "lfs/base.html" %}
{% load lfs_tags  %}
{% load portlets_tags %}
{% load lfs_theme_tags %}
{% load sshop_tags %}

{% block section %}category{% endblock %}

{% block head %}
    {% if category.get_meta_keywords|clean_block:request %}
        <meta name="keywords" content="{{ category.get_meta_keywords }}" />
    {% endif %}
    {% if category.get_meta_description|clean_block:request %}
        <meta name="description" content="{{ category.get_meta_description }}" />
    {% endif %}
{% endblock %}

{% block breadcrumbs %}
    {% breadcrumbs category %}
{% endblock %}

{% block content %}
    <input type="hidden" id="hr_urls_templates" value="{{ hr_urls_templates }}" />
    <input type="hidden" id="unpacked_hr_urls" value="{{ unpacked_hr_urls }}" />
    <input type="hidden" id="category_slug" value="{{ category_slug }}" />
    {{ category.static_block.html|safe }}
    {{ category_inline|safe }}
{% endblock %}
{% block body_bottom %}
          <script>
          mediator.publish('change_slots_width', "span3", "span6", "span9");
        config.left_portlet_count++;
          </script>
    {% endblock %}