{% load i18n %}
<div class="row-fluid">
        {% with amount=cart.get_amount_of_items %}
        {% if amount == 0 or not cart %}
        <div class="span4">
            <img src="{{ STATIC_URL }}img/empty-cart.png">
        </div>    
        <div class="span8">     
            <p>{% trans "Cart is empty." %}</p>      
        </div></div>
        {% else %}    
        <div class="row-fluid">

        <div class="span7">
        <div class="row-fluid"> 
            <div class="span12">
                <a class="btn btn-small checkout-btn" href="{% url lfs_checkout %}">{% trans "Моя корзина" %}
                    <span>({{ amount|floatformat }})</span></a>
            </div>    
        </div>
        <div class="row-fluid">
            <div class="span12">     
            <p class="total-price-text">{% trans 'На сумму' %}: <span>{{ total_price|floatformat }} {{ SHOP.default_currency.abbr }}</span></p>
        </div> 
        </div> 
        </div>
        <div class="span5"> 
        <div class="span12">
            <img src="{{ STATIC_URL }}img/full-cart.png">
        </div>
        </div>

        </div>
        <div class="row-fluid">
            <div class="span12">
                <div class="span12">
                <a class="btn btn-small checkout-big-btn" href="{% url lfs_checkout %}">{% trans "Оформить заказ" %}</a>
            </div>  
            </div>
        </div>
        {% endif %}
        {% endwith %}

<script type="text/javascript">
    $("#clear-cart").click(function(){
        $('#cart-container').load('{% url lfs_clear_cart %}');
    });
</script>
