{% load i18n %}
<h1 class="first-heading">
    {{ category.name }}
</h1>
<div class="description">
    {{ category.description|safe }}
</div>
<div class="wrapp_categories_carousel">
<div id="categories">
    <table class="table lfs-default">
        {% for row in categories %}
            <tr>
                {% for category in row %}
                    <td class="category-row">
                        {% if category.get_image %}
                        <div class="image-wrapper">
                        <div class="category-image">
                            <a href="{% url lfs_category category.slug %}">
                                <img src="{{ category.get_image.url }}"
                                     alt="{{ category.name }}" />
                            </a>
                        </div>
                    </div>
                        {% endif %}
                        <div class="product-title">
                                <a href="{{ category.get_absolute_url }}" class="product-title">{{ category.name }}</a>
                            </div>
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
</div>
</div>
