@red: #a10b0b;
@font1: Verdana, sans-serif;
@font2: Arial, sans-serif;

.border-radius (@top-left: 0, @top-right: 0, @bottom-right: 0, @bottom-left: 0){
    -webkit-border-top-left-radius: @top-left;
    -moz-border-radius-topleft: @top-left;
    border-top-left-radius: @top-left;

    -webkit-border-top-right-radius: @top-right;
    -moz-border-radius-topright: @top-right;
    border-top-right-radius: @top-right;

    -webkit-border-bottom-right-radius: @bottom-right;
    -moz-border-radius-bottomright: @bottom-right;
    border-bottom-right-radius: @bottom-right;

    -webkit-border-bottom-left-radius: @bottom-left;
    -moz-border-radius-bottomleft: @bottom-left;
    border-bottom-left-radius: @bottom-left;
} 
body { 
    background: #fff;
}
h1,h2,h3,h4 {
    color: #64711f;
}
a {
    color: #727b41;
    &:hover {
        color: #586306;
        text-decoration: underline;
    }
}
#wrap {
    width: 1170px;
}
#wrap {
    width: 1170px;
    margin: 0 auto -50px;
}
#header {
    background: #eeeded;
    margin-top: 4px;
    box-shadow: 0px 1px 12px -2px #999;
    height:120px;
    width: 1170px;
    margin: 0 auto;
    margin-top: -20px;
    overflow: hidden;
    z-index: 100;
}
#static_block_header {
    margin: 10px;
}
#content {
    padding: 0 10px;
}
.breadcrumb { 
    background: none;
}
div.search-block {
    margin: 0px 0px 0px 0px;
}
#search-input{
    width: 480px;
    -webkit-border-radius: 0px 0px 0px 0px ;
    -moz-border-radius: 0px 0px 0px 0px ;
    border-radius: 0px 0px 0px 0px;
    border: 1px solid #FABF71;
    color: #80701F;
}
.form-search .input-append .btn {
    margin-left: 5px;
    -webkit-border-radius: 5px 5px 5px 5px!important;
    -moz-border-radius: 5px 5px 5px 5px!important;
    border-radius: 5px 5px 5px 5px!important;
    color: #63701F;
    font-weight: bold;
    background: #fff;
    border: 1px solid #FABF71;
}
.form-search .input-append{
    margin-top: 14px;
}
.checkout-btn{
    border: none!important;
    text-decoration: underline;
    background: transparent!important;
    font-size: 13px!important;
    color: #059ECF!important;
    box-shadow: none;
    padding-left:0px;
    -webkit-box-shadow:none!important;
    -moz-box-shadow:none!important;
    &:hover {
        background: none!important;
        text-decoration: underline!important;
    }
}
.checkout-big-btn{
    -webkit-border-radius: 5px 5px 5px 5px!important;
    -moz-border-radius: 5px 5px 5px 5px!important;
    border-radius: 5px 5px 5px 5px!important;
    color: #63701F;
    font-weight: bold;
    background: #fff;
    border: 1px solid #FABF71;
    width: 205px;
    height: 23px;
    &:hover {
        background: #fff!important;
        color: #63701F;
    }
}
.nivo-caption {
    display: none!important;
}
.nivoSlider img {
    margin: 0;
}
#middle-slot-container, #right-slot-container {
    margin-left: 10px;
}
.slider-content {
    margin-left: 0px!important;
}
#categories td{
        .product-title {
            height: auto;
        }
         td {
            width: 100%;
            margin-right: 0px;
            a {
                color: #515050;
                font-size: 13px;
            }
            .image-wrapper {
                height: 100px;
                width: 100px;
                text-align: center;
                display: inline-block;
            }
        }
}
#categories {
    tr{
        width: 100%;
        border: none;
        margin-left: 0;
        margin-top: 0;
        margin: 0;
        td {
            display: inline-block;
            width: 320px;
            background: #fff;
            margin-bottom: 20px;
            border-radius: 4px;
            border: 1px solid #fff;
            text-align: center;
            float: left;
            &:hover {
                border: 1px solid #f5a82c;                
            }
        }
        .image-wrapper {
            height: 160px;
            width: 200px;
            text-align: center;
            display: inline-block;
            img {
                margin: 0px;
                max-height: 150px;
            }
        }
        .product-title {
            height: 45px;
            text-align: center;
            a {
                background: none;
                float: none;
                text-decoration: none;
                font-weight: bolder;
                color: #64711f;
                font-size: 17px;
                text-align: center;
                padding: 5px;
            }
        }
    }
}
.left-slot {
    .portlet-header {
        display: none;
    } 
    #categories_carousel ul {
        .product-title {
            height: auto;
        }
         li {
            width: 100%;
            margin-right: 0px;
            a {
                color: #515050;
                font-size: 13px;
            }
            .image-wrapper {
                height: 100px;
                width: 100px;
                text-align: center;
                display: inline-block;
            }
        }
    }
}
.wrapp_categories_carousel {
    clear: both;
    display: inline-block;
    .portlet-header {
        text-align: center;
        background: url('/static/img/header_portlet.png') center no-repeat;
        height: 23px;
        border: none;
    }
}
#categories_carousel {
    ul{
        width: 100%;
        border: none;
        margin-left: 0;
        margin-top: 0;
        margin: 0;
        li {
            display: inline-block;
            width: 320px;
            background: #fff;
            margin-bottom: 20px;
            border-radius: 4px;
            border: 1px solid #fff;
            text-align: center;
            float: left;
            &:hover {
                border: 1px solid #f5a82c;                
            }
        }
        .jcarousel-clip-horizontal {
            height: 220px;
        }
        .image-wrapper {
            height: 160px;
            width: 200px;
            text-align: center;
            display: inline-block;
            img {
                margin: 0px;
                max-height: 150px;
            }
        }
        .product-title {
            height: 45px;
            text-align: center;
            a {
                background: none;
                float: none;
                text-decoration: none;
                font-weight: bolder;
                color: #64711f;
                font-size: 17px;
                text-align: center;
                padding: 5px;
            }
        }
    }
    .jcarousel-container-horizontal {
        height: 220px;
    }
    .jcarousel-prev-horizontal {
        top: 80px;
    }
    .jcarousel-next-horizontal {
        top: 80px;
    }
}
#footer {
    
    .catalog {

    }
    .well-small {
        margin-bottom: 0px;
    }
    a {
        text-decoration: none;
        color: #0157a0;
        font-weight: bold;
        font-size: 15px;
    }
    .print-hide {
        display: none;
    }
    .container {
        background: #fdfdfd;
        color: #000;
        padding-top: 17px;
        font-size: 13px;
        text-align: center;
        height: 120px;
        border-top: 5px solid #DCD9D5;
        border-bottom: 5px solid #DCD9D5;
        box-shadow: 0px 9px 10px -3px #EBEBEB;
        ul {
            padding-left: 20px;
            li {
                text-align: left;
                display: block;
                a {
                    color: #0157a0;
                    font-weight: bold;
                    font-size: 15px;
                    text-decoration: underline;
                }
            }
        }
    } 
} 
.big-span{
    height: 95px;
}
.btn {
    border-top: 1px solid #fabf71;
    border-bottom: 1px solid #f7991c;
    border-left: 1px solid #f7991c;
    border-right: 1px solid #f7991c;
    background: #fff;
    color: #63701f;
    font-weight: bold;
    font-size: 14px;
    &:hover {
        background: #fff;
        color: #63701f;
        text-decoration: underline;
    }
}
.details-button{
    margin-top: 10px;
}
.nivo-prevNav {
    background: url("/static/img/prev.png") no-repeat;
    width: 40px;
    height: 55px;
    font-size: 0;
}
.nivo-nextNav {
    background: url("/static/img/next.png") no-repeat;
    width: 40px;
    height: 55px;
    font-size: 0;
}
#top-bar-container{
    .navbar {
         .nav {
            li {
                text-align: center;
                display: inline-block;
                a {
                    color: #013764;
                    font-size: 14px;
                    text-shadow: none;
                    text-decoration: underline;
                }
            }
        }
    }
}
#products div.product-list-item {
    margin-bottom: 25px;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #fff;
    &:hover {
        border: 1px solid #f5a82c;
    }
    .input-small.inline
    {
        width: 40px;
        height: 15px;
    }
}
.product-table-item {
    border: 1px solid #fff;
    border-radius: 8px;
    padding: 13px 10px;
    min-height: 260px;
    max-height: 260px;
    text-align: center;
    &:hover {
        border: 1px solid #f5a82c;
    }
    button {
        text-align: left;
        display: none;
    }
    img {
        width: 150px;
        height: 150px;
    }
}
.product-table-item:hover button {
    display: block;
}
// table td.category-row {
//     border-radius: 8px;
//     text-align: center;
//     border: 1px solid #fff;
//     width: 33%;
//     h2 {
//         font-weight: normal;
//     }
//         &:hover {
//         border: 1px solid #627BA0;
//         -moz-box-shadow: 0px 0px 13px 0 #99EFF1;
//         -webkit-box-shadow: 0px 0px 13px 0 #99EFF1;
//         box-shadow: 0px 0px 13px 0 #99EFF1;
//     }
// }
.category .product-data:hover {
    background-color: #fff;
}
#products span.price {
    -webkit-transform: none!important;
    box-shadow: none!important;
    background: none;
    font-weight: bold;
    color: #000;
    padding: 5px 0!important;
    text-shadow: none;
    font-size: 22px;
    text-align: right;
    .orange {
        color: #f69616;
    }
}
.input-small.inline.quantity-inline{
        width: 30px;
        height: 18px;
        margin-top: 2px;
}
.product-price {
        span.price {
            -webkit-transform: none!important;
            box-shadow: none!important;
            background: none;
            font-weight: bold;
            color: #000;
            padding: 5px 0!important;
            text-shadow: none;
            font-size: 22px;
            text-align: right;
        .orange {
            color: #f69616;
        }
    }
}
.price-default-list{
    text-align: right;
    margin-right: 10px;
}
.table td { 
    border: none;
    width: 33%;
}
#id_ask_question {
    margin-top: 10px;
    display: inline-block;
}
#cboxLoadedContent {
    max-height: 500px;
}
.cboxPhoto {
max-height: 500px;
}
.category_name{
    ul{
        display:none!important;
    }
}
.navbar-options{
    background-color: transparent!important;
    border: none!important;
    -webkit-box-shadow:none!important;
    -moz-box-shadow: none!important;
    background-image: none!important;
    -webkit-background-image: none!important;
    -moz-background-image: none!important;
    box-shadow: none!important;
}
.main-nav.navbar .nav > li > a {
    text-shadow: none;
    font-weight: bold;
    color: #63701F;
    margin-left: -30px;
    &:hover{
        background-color: transparent!important;
        color: #63701F!important;
        text-decoration: underline;
    }
}
.sf-menu li {
    width: 200px!important;
}
.sf-menu a {
    text-decoration: none;
    color: #63701F;
    &:hover{
        text-decoration: underline;
    }
}