{% load i18n lfs_tags sshop_tags %}

{% include "lfs/catalog/categories/product/toolbar.html" %}
<div class="description">
    {{ category.description|safe }}
</div>

<div id="products">
    {% if not products_count and filtered %}
        <div class="alert">
            <p>{% trans 'Товаров с данным набором фильтров не найдено. Для сброса фильтров нажмите пожалуйста кнопку "Очистить" и попробуйте задать другие параметры.' %}</p>
        </div>
    {% endif %}
    {% for product in products %}
    <div class="product-list-item">
        <div class="row-fluid">
            <div class="span2">
                <a href="{% url lfs.catalog.views.product_view product.slug %}">
                    {% if product.get_image.image.url_100x100 %}
                        {% badges_for_product product %}
                        <img alt="{{ product.name }}" src="{{ product.get_image.image.url_100x100 }}" />
                    {% else %}
                        <img alt="{{ product.name }}" src="{{ STATIC_URL }}img/100x100.gif" />
                    {% endif %}
                </a>
            </div>
            <div class="span7">
                <div class="product-caption"><a href="{% url lfs_product product.slug %}">{{ product.name }}</a></div>
                <div class="product-description">{{ product.get_short_description|safe }}</div>{% for property in product.get_visible_in_list_properties %}{% spaceless %}<p>{{ property.title }}: {{ property.value|safe }}</p>{% endspaceless %}{% endfor %}
            </div>
            <div class="span3">

<!-- buy button !-->

            {% if product.status.show_buy_button %}
            <form action="{% url lfs.catalog.views.product_form_dispatcher %}"
                class="add-to-cart-form"
                method="post">
            {% csrf_token %}
            <input name="product_id" type="hidden" value="{{ product.id }}" />
            <input name="ajax_mode" type="hidden" value="1" />
            <div class="row-fluid">
                <div class="span4">
                    <input class="input-small inline" name="quantity" type="number" value="{{ product.default_value }}" />
                </div>
                <div class="span8">
                <button class="btn btn-mini">{% trans "Add to cart" %}</button>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span4"></div>
                <div class="span8"><a class="btn btn-mini details-button" href="{% url lfs_product product.slug %}">{% trans "Details" %}</a>
                    </div>
            </div>
            </form>
            {% endif %}



<!-- buy price !-->
<div class="row-fluid">
    <div class="span2"></div>
    <div class="span8">
            {% if product.get_for_sale %}
                <div class="product-price price-default-list">
                <span class="label label-important price">{% for_sale_price product %}</span>
                <ul>
                <li><span class="for-sale-price">Instead: {% standard_price product %}</span></li>
                <li><span class="for-sale-standard-price">You save: {% price_difference product %}</span></li>
                </ul>
                </div>
            {% else %}
                <div class="product-price price-default-list">
                <span class="label label-info price"><span class="orange">{{ product.price }}</span> {{ SHOP.default_currency.abbr }}</span>
                </div>
            {% endif %}
        </div>
</div>

            </div>
        </div>
        </div>
        {% endfor %}
</div>

{% include "lfs/catalog/categories/product/products_navigation.html" %}
